ejercicios_unidad1/.classpath
ejercicios_unidad1/target/classes/com/example/fmkid/Ejercicios.class
ejercicios_unidad1/target/classes/com/example/fmkid/Ejer_Clase2.class
ejercicios_unidad1/target/test-classes/com/example/fmkid/AppTest.class
ejercicios_unidad1/.project
ejercicios_unidad1/.settings/org.eclipse.core.resources.prefs
ejercicios_unidad1/.settings/org.eclipse.jdt.apt.core.prefs
ejercicios_unidad1/.settings/org.eclipse.jdt.core.prefs
ejercicios_unidad1/.settings/org.eclipse.m2e.core.prefs
