ejercicios_unidad1/.classpath
ejercicios_unidad1/target/classes/com/example/fmkid/Ejercicios.class
ejercicios_unidad1/target/classes/com/example/fmkid/Ejer_Clase2.class
ejercicios_unidad1/target/test-classes/com/example/fmkid/AppTest.class
ejercicios_unidad1/.project
ejercicios_unidad1/.settings/org.eclipse.core.resources.prefs
ejercicios_unidad1/.settings/org.eclipse.jdt.apt.core.prefs
ejercicios_unidad1/.settings/org.eclipse.jdt.core.prefs
ejercicios_unidad1/.settings/org.eclipse.m2e.core.prefs
.vscode/settings.json
ejercicios_unidad2/clase04-empleados/.settings/org.eclipse.core.resources.prefs
ejercicios_unidad2/clase04-empleados/.settings/org.eclipse.jdt.apt.core.prefs
ejercicios_unidad2/clase04-empleados/.settings/org.eclipse.jdt.core.prefs
ejercicios_unidad2/clase04-empleados/.settings/org.eclipse.m2e.core.prefs
ejercicios_unidad2/clase04-empleados/target/test-classes/com/example/fmkid/AppTest.class
ejercicios_unidad2/clase04-empleados/.classpath
ejercicios_unidad2/clase04-empleados/.project
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/App.class
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/Classes/Cliente.class
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/Classes/Directivo.class
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/Classes/Empleado.class
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/Classes/Empresa.class
ejercicios_unidad2/clase04-empleados/target/classes/com/example/fmkid/Classes/Persona.class